@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-montserrat) !important;
  }

  button {
    font-family: var(--font-montserrat) !important;
  }
  p {
    font-family: var(--font-montserrat) !important;
  }

  input {
    font-family: var(--font-montserrat) !important;
  }
  textarea {
    font-family: var(--font-montserrat) !important;
  }