@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat) !important;
}

button {
  font-family: var(--font-montserrat) !important;
}
p {
  font-family: var(--font-montserrat) !important;
}

input {
  font-family: var(--font-montserrat) !important;
}
textarea {
  font-family: var(--font-montserrat) !important;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(100%); /* Initial position outside the viewport */
  transition: opacity 2s ease, transform 2s ease;
}

.animation-container.animate {
  opacity: 1;
  transform: translateX(0);
}

.animation-container-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-100%); /* Initial position outside the viewport */
  transition: opacity 2s ease, transform 2s ease;
}

.animation-container-reverse.animate {
  opacity: 1;
  transform: translateX(0%);
}

.accordion-icon {
  width: 10px;
  height: 10px;
  border: solid #888;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.accordion-item.active .accordion-icon {
  transform: rotate(-135deg);
}

.accordion-item.active .accordion-content {
  display: block;
}